html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    z-index: 1000;
}

header nav {
    font-weight: bolder;
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    gap: 20px;
}

#overview {
    position: relative;
    overflow: hidden;
}

#overview::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(/images/coding.jpg) no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 0;
    object-fit: cover;
    transform: scale(1.05);
}

#overview .glass-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass-box {
    background-color: rgba(100,100,100,0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 1rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 1;
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
}

.glass-box h1, p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: larger;
    text-align: center;
}

.glass-box p {
    padding: 40px;
    font-weight: normal;
    font-size: large;
    font-weight: 200;
}

.glass-box div {
    display: flex;
    gap: 10px;
    font-size: medium;
}

.glass-button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(50,50,50,0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 1rem;
}

.glass-button:hover {
    background-color: rgba(50,50,50,0.8);
    color: white;
}

#contributions {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

#contributions::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(/images/forest.jpg) no-repeat center center;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
    transform: scale(1.05);
}

.contribution-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.contribution-area .glass-box {
    max-width: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-area img {
    max-width: 390px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

li {
    color: white;
    font-size: medium;
    font-weight: normal;
}